input {
    width: 250px;
    padding: 5px;
    border-radius: 3px;
    appearance: none;
    outline: none;
    border: none;
    background: #f2f2f2;
    font-size: 20px;
}

.index-input {
   text-align: center;
   margin: auto;
}

input {
   
    display: block;
    width: 70%;
   margin: auto;
   height: 35px;
    margin-top: 5px;
}

