.post {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    
}

.post-child {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow:hidden;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.post1 {
    width: 60%;
    text-align: left;
}

.post1 h1:hover {
    color:red;
}

.post2 {
    width: 40%;
    text-align: right;
    display: flex;
    flex-direction: column;
    padding: 7px;
    white-space: nowrap;
}

.post2_link {
    color:black;
    font-size: 20px;
    font-weight: 400;
}

.post2_link:hover {
    color:red;
    cursor: pointer;
}

.post1 h1 {
    color: rgb(3, 113, 164);
}

@media (max-width: 500px) {
    .post-child {
    width: 90%;
    flex-direction:column;
    }
  }